# Node / Bun
node_modules/

# Builds frontend
dist/
dist-ssr/
*.local

# Rust / Tauri
src-tauri/target/
src-tauri/gen/schemas/
target/

# Env
.env
.env.*

# editores / SO
.idea/
.vscode/
*.swp
.DS_Store

# NOTE: NO ignorar bun.lock / bun.lockb (lockfile versionado a propósito)
